body {
  font-family: Arial, Helvetica, sans-serif;
}
.app{
  text-align: center;
  background: #ededed;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}
.nav-link-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
  }
  a.active {
    padding-bottom: 1rem;
    border-bottom: 2px solid;
  }
  li {
    margin: 2rem;
  }
}

.conversion-contianer{
  display: flex;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.symbol-container {
  height: 6rem;
  width: 6rem;
  align-self: center;
  img {
    height: 100%;
    width: 100%;
  }
}

.label {
  display: block;
  &.error {
    color: red;
  }
}

input[type=number], select {
  height: 50px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 1rem;
  padding: 0 1rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media only screen and (max-width: 768px) {
  .conversion-contianer {
    flex-direction: column;
  }
  .nav-link-container a.active {
   border: none; 
   color: green;
  }
}